# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage/
/.nyc_output

# Build outputs
/dist/
/build/
/out/
/.next/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables - sensitive data
.env
.env.*
!.env.example

# IDE - JetBrains
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# IDE - VSCode
.vscode/
*.code-workspace
.history/

# OS files
.DS_Store
Thumbs.db
*.tmp
*.temp
*.swp
*.swo
desktop.ini

# Debug
.node-version
.npm
.eslintcache
.stylelintcache

# Misc
.cache/
.local/
.yarn/
.vercel
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
backup/
*.bak